// Variables
@import "variables";

/**
 * General styles
 */
body{
	background:#fff;
}
/**
 * Grid Styles
 */
.item-grid{
	/**
	 * Tab Styles
	 */
	.categories-panel{
		background:#F5F8FA;
		border-bottom:1px solid rgba(black,0.1);
		border-top:1px solid rgba(black,0.1);
		margin-bottom:40px;
		.tabs{
			li{
				display:block;
				float:left;
				margin-right:20px;
				padding:10px 0;
				a{
					text-transform: capitalize;
					color:#333;
					text-decoration: none;
				}
			}
			.current{
				border-bottom:1px solid $brand-farmbase;
				a{
					color:$brand-farmbase;
				}
			}
		}
	}
	/**
	 * Item Styles
	 */
	.item{
		border:1px solid rgba(black,0.1);
		.panel-heading{
			margin-bottom:0;
			position:relative;
			padding:0;
		}
		.panel-body{
			padding:5px;
			padding-right:10px;
		}
		.title{
			font-weight:700;
			// margin:0;
		}
		.location,.price,.author{
			display:inline;

			i{
				font-size:18px;
				margin-right:10px;
			}
		}
		.price{
			float:right;
		}
		.category{
			background:black;
			position:absolute;
			left:0;
			bottom:-1px;
			padding:10px auto;
			border-radius:0;
		}
		.panel-footer{

		}
		.favorite{
			float:right;
			padding:0;
			border:none;
			margin-top:3px;
		}
		.no-image{
		   text-align:center;
		   padding-top:40PX;
			i{
				font-size:24px;
			}
		}
	}
}
/**
 * Welcome Page Styles
 */
#welcome{
	.main-banner{
		.container-custom{
			background:url(../images/tractor.svg),$brand-farmbase;
			background-size:cover;
			background-repeat: no-repeat;
			background-position:60vh;
			height:80vh;
			margin-top:5vh;
			margin-bottom:10vh;
			.center-box{
				color:white;
				.cta-get-started{
					background:white;
					text-transform:capitalize;
					color:$brand-farmbase;
				}
			}
		}
	}
}
/**
 * Form Styles
 */
#login_registration{
	.form-panel{
		box-shadow:none;
		border:1px solid rgba(0,0,0,0.2);
		padding:20px;
	}
	.panel-heading{
		text-transform:uppercase;
	}
	// .input-group{
	// 	margin-bottom:20px;
	// }
	.form-input{
		border:none;
		border-bottom:1px solid rgba(0,0,0,0.15);
		box-shadow:none;
		height:50px;
	}
	::placeholder{
		font-weight:700;
	}
	.input-group-addon-custom{
		background:none;
		border:none;
		box-shadow:none;
		border-bottom:1px solid rgba(0,0,0,0.15);
	}
	.check{
		border:none;
		color:$brand-farmbase;
	}
	.not-check{
		border:none;
		color:$brand-danger;
	}
	button[type="submit"]{
		background:$brand-farmbase;
		color:white;
		border:1px solid darken($brand-farmbase,20%)
	}
}

/**
 * @mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}
 */